*{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer > ul{
  text-align: center;
  justify-content: center;
  width: 400px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}

.productContainer > ul:hover {
  background-color: lightgray;
}